@import url('https://fonts.googleapis.com/css?family=Nunito|Pacifico');
/* App {
  background-color: 
} */
.navbar-brand {
  font-family: 'Pacifico', cursive;
}
.nav-link {
  font-family: 'Nunito', sans-serif;
  font-size: 3vh;
}
.hidden{
  display: none;
}
