h5 {
    font-size: 3vh;
    margin-bottom: 4vh;
}

.create {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
}  

.teksti {
  width: 55vw;
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
  background-color: antiquewhite;
  border: 0;
}

.nappi2 {
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background-color: antiquewhite;
  color: #cb2d3e;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 9vh;
  height: 5vh;
  width: 60%;
  border: 0;
}

