html {
    width: 100%;
    height: 100%;
}
.landing {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.paaotsikko {
    font-family: 'Pacifico', cursive;
    font-size: 10vh;
    color: antiquewhite;
    text-align: center;
    padding-top: 2vh;
}

