.landing {
    height: 100%;
    width: 100%;
}

.paaotsikko {
    font-family: 'Pacifico', cursive;
    font-size: 10vh;
    color: antiquewhite;
    text-align: center;
    position: relative;
    top: 20%;
}

