.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}  
.loggaus {
    font-size: 3.2vh;
}
.nappi {
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background-color: antiquewhite;
  color: #cb2d3e;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 9vh;
  height: 5vh;
  width: 60%;
  border: 0;
}

.teksti {
  border-radius: 25px;
  height: 5vh;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  background-color: antiquewhite;
  margin: 1vh;
  padding-left: 3vw;
  border: 0;
}
/* .teksti:active {
    border-radius: 10px;
    border: 1px solid grey; */
/* } */
.luoUusi {
    font-size: 2.8vh;
    width: 100%;
    bottom: 0px;
    position: fixed;
    text-align: center;


}