.pohja {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:#cb2d3e;
    /*height: 12vh;*/
}

.msggroup {
    float:left;
    padding-top: 1vh;
    padding-bottom: 0.8vh;
}

.message {
    float: left;
}

.submitMessage {
    border-radius: 20px;
    float: left;
    border: solid 2px white;
    font-size: 3vh;
    background-color: #cb2d3e;
    padding-bottom: 1vh;
    width: 20%;
    margin-left: 2.5%;
}

.tekstibox {
    border-radius: 20px;
    padding: 2%;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5vh;
    width: 70%;
    float:left;
    margin-left: 2.5%;
    resize: none;
    overflow: hidden;
    white-space: nowrap;
}
