.message {
    padding-top: 3vh;
    padding-bottom: 30vh;
    padding-left: 7vh !important;
}
.submitMessage {
border-radius: 25px;
padding-left: 1.6vh;
padding-right: 1.6vh;
font-family: 'Nunito', sans-serif;
font-weight: 600;
background-color: antiquewhite;
color: #cb2d3e;
}

.tekstibox {
    border-radius: 15px;
    padding: 1vh;
}
/* .tekstibox:active {
    size: 
} */