.pohja {
    position: fixed;
    width: 100%;
    margin-top: 3vh;
    bottom: 2vh;
    background-color:#cb2d3e;
    height: 12vh;
}
.msggroup {
    float:left;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.message {
    float: left;

}
.submitMessage {
border-radius: 20px;
float: right;
border: solid 2px white;
font-size: 4vh;
background-color: #cb2d3e;
padding-bottom: 1vh;
margin-left: 2vw;
margin-right: 3vw;
margin-top: 1vh;

}

.tekstibox {
    border-radius: 15px;
    padding: 2vh;
    margin-left: 4vw;
    height: 5vh;
    font-family: 'Nunito', sans-serif;
    
}
/* .tekstibox:active {
    size: 
} */