html, body, #root {
    width: 100%;
    height: 100%;
}
.boxi {
    /* padding-left: 14vw;
    padding-right: 10vw; */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: -5vh;
}
.moodi {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 7vh;
    text-align: center;
    padding-top: 12vh;
    line-height: 10vh;
}
.emojit {
    font-size: 6vh;
    letter-spacing: 4vw;
    line-height: 8vh;
   

}