.card {
    background-color: white;
    border-radius: 25px;
    border: 4px solid #cb2d3e;
    padding: 2vh;
    width: 70%;
    float: right;
    margin-top: 2vh;
    margin-right: 4vw;

}
.card-title {
    font-size: 4vh;
    line-height: 0;
    margin-top: 2.5vh;
    color: #cb2d3e !important; 
}
.card-text {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5vh;
    font-weight: 700;
    color: #2f2f2f !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
}