html, body, #root {
    height: 100%;
    width: 100%;
    background-color: #cb2d3e !important;
    padding-bottom: 24vh;
}
/* .card-columns {
    padding-bottom: 24vh;
}
.postList{ margin-bottom: 16vh;}
.loppu {
    height: 40vh;
} */