
   .valikko {
    float: left;
    position: fixed;
   
   }
    .V {
        font-family: 'Pacifico', cursive;
        font-size: 6.5vh;
        color: antiquewhite;
        padding-left: 1.6vh;
    }
    ul {
 
        list-style: none;
        margin-left: -4.2vh;
        margin-top: -2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

      .emoji {
        font-family: 'Nunito', sans-serif;
        font-size: 4vh;
        font-weight: 600;
        color: antiquewhite;
      }
        .emoji:active {
            color: white;
            font-size: 3vh;
        }

    