/* @media only screen and (max-width: 400px) { */
   .valikko {
    float: left;
    position: fixed;
   
   }
    /* .valikkopala {
        background-color: antiquewhite;
        width: 5vh;
        border-radius: 25px;
        margin-left: 2vh;
    } */
    .V {
        font-family: 'Pacifico', cursive;
        font-size: 6.5vh;
        color: antiquewhite;
        padding-left: 1.6vh;
    }
    ul {
 
        list-style: none;
        margin-left: -4.2vh;
        margin-top: -2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

      .emoji {
        font-family: 'Nunito', sans-serif;
        font-size: 4vh;
        font-weight: 600;
        color: #cb2d3e;
      }
        .emoji:active {
            color: antiquewhite;
            font-size: 3vh;
        }
      /* .nav-item {
          margin-top: -2vh;
          margin-bottom: -2vh; 
       }  */
    /* } */
    