.visible {
    border-radius: 25px;
    border: 0.2px solid white;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-left: 1.6vh;
    padding-right: 1.6vh;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background-color: #cb2d3e;
    opacity: 70%;
    color: white;
    margin-right: 1vw;
    
}