.visible {
    border-radius: 25px;
    /* border: 2px solid antiquewhite; */
    padding-left: 1.6vh;
    padding-right: 1.6vh;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background-color: antiquewhite;
    opacity: 70%;
    color: #cb2d3e;
}